<div class="title">Fake<span class="fancy">App</span></div>
<nav>
  @if(isCompact()) {
  <button type="button" class="menu-btn" (click)="openSidebar()">
    <fa-icon [icon]="faBars"></fa-icon>
  </button>
  } @else {
  <ul>
    <li>
      <a (click)="scrollTo('home')">Home</a>
    </li>
    <li>
      <a (click)="scrollTo('about')">About</a>
    </li>
    <li>
      <a (click)="scrollTo('products')"
        >Products</a
      >
    </li>
    <li>
      <a (click)="scrollTo('contact')"
        >Contact</a
      >
    </li>
  </ul>

  <ul>
    <li><a class="login">Log In</a></li>
  </ul>
  }
</nav>
