<div class="section-title">Products</div>
<div class="categories">
  <div class="category" (click)="goto('category-1')">
    <div class="image"></div>
    <div class="overlay">
      <div class="title">
        Category 1 <fa-icon [icon]="faArrowRight"></fa-icon>
      </div>
    </div>
  </div>
  <div
    class="category"
    (click)="goto('category-2')"
    [style.grid-column]="'span 2'"
  >
    <div class="image"></div>
    <div class="overlay">
      <div class="title">
        Category 2 <fa-icon [icon]="faArrowRight"></fa-icon>
      </div>
    </div>
  </div>
  <div
    class="category"
    (click)="goto('category-3')"
    [style.grid-column]="'span 2'"
  >
    <div class="image"></div>
    <div class="overlay">
      <div class="title">
        Category 3 <fa-icon [icon]="faArrowRight"></fa-icon>
      </div>
    </div>
  </div>
  <div
    class="category"
    (click)="goto('category-4')"
    [style.grid-row]="'span 2'"
  >
    <div class="image"></div>
    <div class="overlay">
      <div class="title">
        Category 4 <fa-icon [icon]="faArrowRight"></fa-icon>
      </div>
    </div>
  </div>
  <div class="category" (click)="goto('category-5')">
    <div class="image"></div>
    <div class="overlay">
      <div class="title">
        Category 5 <fa-icon [icon]="faArrowRight"></fa-icon>
      </div>
    </div>
  </div>
</div>
