<nav>
  <h1>Navigation</h1>
  <ul>
    <li>
      <a routerLink="/" fragment="home" (click)="scrollTo('home')">HOME</a>
    </li>
    <li>
      <a routerLink="/" fragment="about" (click)="scrollTo('about')">ABOUT</a>
    </li>
    <li>
      <a routerLink="/" fragment="products" (click)="scrollTo('products')"
        >PRODUCTS</a
      >
    </li>
    <li>
      <a routerLink="/" fragment="contact" (click)="scrollTo('contact')"
        >CONTACT</a
      >
    </li>
    <li>
      <a class="login" (click)="close()">LOGIN</a>
    </li>
  </ul>
</nav>
