
<div class="section-title">Products</div>
<div class="actions">
  <button type="button" [routerLink]="['../..']"><fa-icon [icon]="faArrowLeft"></fa-icon> back</button>
</div>
<div class="products">
  <div class="product">
    <div class="image"></div>
    <div class="overlay">
      <div class="title">Product 1 <fa-icon [icon]="faArrowRight"></fa-icon></div>
    </div>
  </div>
  <div class="product">
    <div class="image"></div>
    <div class="overlay">
      <div class="title">Product 2 <fa-icon [icon]="faArrowRight"></fa-icon></div>
    </div>
  </div>
  <div class="product">
    <div class="image"></div>
    <div class="overlay">
      <div class="title">Product 3 <fa-icon [icon]="faArrowRight"></fa-icon></div>
    </div>
  </div>
  <div class="product">
    <div class="image"></div>
    <div class="overlay">
      <div class="title">Product 4 <fa-icon [icon]="faArrowRight"></fa-icon></div>
    </div>
  </div>
  <div class="product">
    <div class="image"></div>
    <div class="overlay">
      <div class="title">Product 5 <fa-icon [icon]="faArrowRight"></fa-icon></div>
    </div>
  </div>
  <div class="product">
    <div class="image"></div>
    <div class="overlay">
      <div class="title">Product 6 <fa-icon [icon]="faArrowRight"></fa-icon></div>
    </div>
  </div>
</div>
