<a id="hero"></a>
<section id="hero-section">
  <img src="https://static.vecteezy.com/system/resources/thumbnails/037/814/719/small_2x/ai-generated-autumn-leaves-in-the-forest-nature-background-photo.jpg" alt="">
  <div class="container">
    <h1>Welcome to my website!</h1>
    <h3>This is just for fun...</h3>
  </div>
</section>
<a id="about"></a>
<section id="about-section"><h1>About Section</h1></section>
<a id="products"></a>
<section id="products-section"><h1>Products Section</h1></section>
<a id="contact"></a>
<section id="contact-section"><h1>Contact Section</h1></section>
