<a id="home"></a>
<section id="hero-section">
  <div class="container">
    <div class="left">
      <p>
        This is just a template for future projects. Don't think too much about
        it...
      </p>
    </div>
    <div class="right">
      <h1>Fake App!</h1>
      <!-- <p>Explore more...</p> -->
      <button>Sign in</button>
    </div>
  </div>
  <div class="background-filler"></div>
</section>
<a id="about"></a>
<section id="about-section">
  <div class="container"><h1>About Us</h1></div>
</section>
<a id="products"></a>
<section id="products-section">
  <div class="container">
    <router-outlet></router-outlet>
  </div>
</section>
<a id="contact"></a>
<section id="contact-section">
  <div class="container"><h1>Contact</h1></div>
</section>
