:host {
  isolation: isolate;
}

section {
  display: grid;

  overflow: hidden;
  position: relative;

  .background-filler {
    position: absolute;
    inset: 50% 0 0 0;
    height: max(100vh, 100vw);
    aspect-ratio: 1 / 1;
    translate: -50% -50%;
    background: radial-gradient(
      circle at 0% 50%,
      var(--clr-dark-100),
      var(--clr-dark-500)
    );
    z-index: -1;
    border-radius: 50%;
  }


  height: var(--max-height);
  scroll-snap-align: start;
  h1 {
    font-weight: 100;
    font-size: 3rem;
    margin: 0;
  }
}

.container {
}

:host.compact {
  #hero-section {
    grid-template-rows: 95%;
    p {
      font-size: 1rem;
      line-height: 2;
    }
    button {
      font-size: 1rem;
    }
    .container {
      grid-template-columns: 1fr;
      .left {
        grid-area: 2 / 1;
        padding: 3rem 1rem;
      }
      .right {
        padding: 3rem 1rem;
      }
    }
  }
}

#hero-section {
  place-content: center;
  // background-color: #000000;
  p {
    font-size: 1.2rem;
    line-height: 1.5;
  }

  grid-template-rows: 50%;

  .container {
    display: grid;
    grid-template-columns: 1fr 1fr;

    box-shadow: 5px 5px 15px 0 #0005;
    margin-inline: 1rem;
    border-radius: 0.5rem;
    overflow: hidden;

    .left {
      padding: 5rem 1rem;
      border-radius: 0.25rem;
      backdrop-filter: blur(5px);
      background-color: #fff7;
    }
    .right {
      padding: 5rem 1rem;
      background: radial-gradient(
        circle at 20% 20%,
        var(--clr-dark-600),
        var(--clr-dark-800)
      );
      color: white;
      display: flex;
      flex-direction: column;
      gap: 1rem;
      align-items: center;
      justify-content: center;
      font-size: 1.2rem;
      button {
        // background: radial-gradient(
        //   circle at 70% 70%,
        //   var(--clr-light-600),
        //   var(--clr-light-800)
        // );
        color: black;
        box-shadow: 5px 5px 15px 0 #0009;
        font-size: 1.2rem;
        padding: 1rem 1.5rem;
      }
    }
  }
}

p {
  margin: 0;
}
